body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #badbde;
}

nav {
    background-color: #222;
    color: cyan;
    padding: 1px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: rgb(70, 220, 240);
    text-decoration: none;
    margin-left: 20px;
}

main {
    padding: 30px;
}

.cart-container {
    max-width: 800px;
    margin: 0 auto;
    background: rgb(232, 229, 229);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.cart-item img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 6px;
}

.cart-item .info {
    flex: 1;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.quantity-controls button {
    background: #959494;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.remove-btn {
    background: crimson;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
}

.cart-summary button {
    background-color: cyan;
    color: black;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}